<html>
    <title>Home</title>
    <body>
        <header>
            <h1>Welcome <%= user%></h1>
            <div>
                <form action="/logout" method="POST">
                        <button>Logout</button>
                </form>
                
            </div>
        </header>
        <div>
        </div>
    </body>
</html>



