<html>
    <title>Login Page</title>
    <body>
        <header>
            <h1>Sign In</h1>
        </header>
        <div>
            <hr/>
            <form action="/user" method="POST">
            <input placeholder="Username" name="username"><br><br>
            <input placeholder="Password" type="password" name="password"><br><br>
            <button>Submit</button> <a href="/register">Sign Up</a>
            </form>
        </div>
    </body>
</html>