<html>
    <title>Home</title>
    <body>
        <header>
            <style>
                .productTable, th, td {
                    border-collapse: collapse;
                    border: 1px solid black;
                }
            </style>
            <% if(data!=null) { %>
                <table class="productTable"
                <tr>
                    <th>Product Name</th>
                    <th>Quantity </th>
                    <th>Price</th>
                </tr>
                <% data.forEach(function(item){ %>
                <tr>
                    <td><%= item.productName%></td>
                    <td><%= item.quantity%></td>
                    <td><%= item.price%></td>
                </tr>
                <% }) %>
                </table>
                <% } %>
        </header>
        <div>
        </div>
    </body>
</html>



