<html>
    <title>Home</title>
    <body>
        <header>
            <style>
                .productTable, th, td {
                    border-collapse: collapse;
                    border: 1px solid black;
                }
            </style>
            <% if(data!=null) { %>
                <table class="productTable"
                <tr>
                    <th>Product Name</th>
                    <th>Quantity </th>
                    <th>Price</th>
                </tr>
                <% data.forEach(function(item){ %>
                <tr>
                    <td><%= item.productName%></td>
                    <td><%= item.quantity%></td>
                    <td><%= item.price%></td>
                </tr>
                <% }) %>
                </table>
                <% } %>

                <div>
                    <hr/>
                    <form action="/products/createproduct" method="POST">
                    <input placeholder="Product Name" name="username"><br><br>
                    <input placeholder="Price" name="password"><br><br>
                    <button>Add</button>
                    </form>
                </div>
        </header>
        <div>
        </div>
    </body>
</html>



